.bash_history
.cache/
.local/
.python_history
.sudo_as_admin_successful
.Xauthority
.conda/
.config/
.gitconfig
.ssh/
.vscode-server/
.vscode/
build.log
build/
data/
system/thirdparty/build_Debug/
system/thirdparty/build_Release/
system/thirdparty/install_Debug/
system/thirdparty/install_Release/
